<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light shadow-lg p-3 mb-3 bg-white rounded" *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-3">
        <a class="btn btn-outline-primary" routerLink="/">
          <fa-icon [icon]='fahome'></fa-icon> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" routerLink="/photoloadings">
          <fa-icon [icon]='faalbum'></fa-icon> Album
        </a>
      </li>
    </ul>
  </div>
  <button (click)="logout()" class="btn btn-outline-danger nav-item nav-link">
    Logout <fa-icon [icon]='falogout'></fa-icon>
  </button>
  <!--<button class="btn btn-outline-primary" style="margin-right: 0; margin-left: 11px;" (click)="_toggleSidebar()">
    <fa-icon [icon]="faatom"></fa-icon> Dashboard
  </button>-->
</nav>
<ng-sidebar-container style="position:absolute" *ngIf="isAdmin">
  <ng-sidebar [(opened)]="_opened" position="right" mode="push" animate="true" closeOnClickOutside="true">
    <ul class="list-group-flush">
      <li class="list-group-item shadow-lg mb-1 zoom active">
        <fa-icon [icon]=fasess [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'></fa-icon> Batche
      </li>
      <li class="list-group-item shadow-lg mb-1 zoom sess" routerLink="/admin/newBatche">
        <fa-icon [icon]=fasession [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'></fa-icon> New model
      </li>
      <li class="list-group-item shadow-lg mb-1 zoom sess">
        <fa-icon [icon]=falist [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'></fa-icon> jobs
      </li>
      <li class="list-group-item shadow-lg mb-1 zoom sess" routerLink="/batches">
        <fa-icon [icon]=falist [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'> </fa-icon> models
      </li>
    </ul>
  </ng-sidebar>
</ng-sidebar-container>
<div id="myDIV" class="jumbotron jumbotron-fluid shadow-lg p-2 mb-2 bg-white">
  <div class="container">
    <h4 class="display-5">Bienvenue Dans notre Portail !!!!</h4>
    <h4 class="display-6">Decouvrez des lieux Extras autour de vous en un clic
    </h4>
    <p>Uploader votre prise de vue et laissez nous vous montrer les places magnifiques qui vous entours
      <fa-icon [icon]=fasmile [styles]="{'stroke': 'gray', 'color': 'blue'}" size='1x'> </fa-icon>
    </p>
  </div>
</div>
<div class="container-fluid">
  <alert></alert>
  <router-outlet></router-outlet>
</div>