/* Add application styles & imports to this file! */

.vl {
    border-left: 3px solid rgba(12, 192, 216, 0.884);
    height: 41px;
    margin-left: 1rem;
  }

  .sess{
    margin-left: 1rem;
  }

  .session{
    background-color:gainsboro;
  }

  .zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #myDsIV {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 25%, rgba(45, 66, 253, 0.671) 100%);
  }
