/* Add application styles & imports to this file! */

.vl {
    border-left: 3px solid rgba(12, 192, 216, 0.884);
    height: 41px;
    margin-left: 1rem;
  }

  .sess{
    margin-left: 1rem;
  }

  .session{
    background-color:gainsboro;
  }

  .zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #myDIV {
    background: rgb(0, 255, 85);
    animation: mymove 10s infinite;
  }
  
  @keyframes mymove {
    from {background-color: rgb(255, 187, 0);}
    to {background-color: rgba(183, 0, 255, 0.616);}
    from {background-color:lighten($color: #0396f8, $amount: 0);}
    to {background-color: lightness($color: #972f52e7);}
  }