<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <button class="btn btn-outline-warning nav-item" routerLink="/">
          <fa-icon [icon]='fahome'></fa-icon>
        </button>
      </li>
      <li class="nav-item active">
      </li>
    </ul>
  </div>
  <button (click)="logout()" class="btn btn-outline-danger nav-item nav-link">
    <fa-icon [icon]='falogout'></fa-icon>
  </button>
  <div class="vl"></div>
  <button class="btn btn-outline-primary" style="margin-right: 0; margin-left: 11px;" (click)="_toggleSidebar()">
    <fa-icon [icon]="faatom"></fa-icon>
  </button>
</nav>
<ng-sidebar-container style="position:absolute" *ngIf="isAdmin">
    <ng-sidebar [(opened)]="_opened" position="right" mode="push" animate="true"
    closeOnClickOutside="true">
      <ul class="list-group-flush">
        <li class="list-group-item shadow-lg mb-1 zoom active"><fa-icon [icon]=fasess [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'></fa-icon> Session</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=fasession [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'></fa-icon> New</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=faupdate [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'></fa-icon> Update</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=fadelete [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'> </fa-icon> Delete</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=falist [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'> </fa-icon> List</li>
        <li class="list-group-item shadow-lg mb-1 zoom active"><fa-icon [icon]=fasess [styles]="{'stroke': 'dark', 'color': 'dark'}" size='1x'></fa-icon>  Batche</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=fasession [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'></fa-icon> New</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=faupdate [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'></fa-icon> Update</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=fastatement [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'></fa-icon> Job</li>
        <li class="list-group-item shadow-lg mb-1 zoom sess"><fa-icon [icon]=falist [styles]="{'stroke': 'gray', 'color': 'gray'}" size='1x'> </fa-icon> List</li>
      </ul>
    </ng-sidebar>
<!--
    <div ng-sidebar-content>
      <button class="btn btn-outline-primary" (click)="_toggleSidebar()"><fa-icon [icon]="faatom"></fa-icon></button>
    </div>  -->
</ng-sidebar-container>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
