/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: white;
}

body::before {
  content: "";
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background: url("/assets/images/login.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  z-index: -1;
  height:100%;
  width:100%; /* Using Glen Maddern's trick /via @mente */
  background-size: cover;
  /* don't forget to use the prefixes you need */
  transform: scale(4);
  //transform-origin: top;
  transition-delay: 2s;
  filter: blur(2px);
}

h1 {
  text-align: center;
}

html{
  scroll-behavior: smooth;
}