<br>
<section id="Users" *ngIf="isadmin">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <ul class="list-group-flush">
        <li class="list-group-item shadow-lg mb-1 active">
          Users
        </li>
        <li class="list-group-item shadow-lg mb-1" *ngFor="let user of users">
          {{user.firstname}} &nbsp; {{user.lastname}} {{user.username}} &nbsp;
          <a>
            <fa-icon [icon]=fadetail [styles]="{'stroke': 'white', 'color': 'blue'}" size='1x'></fa-icon>
          </a> &nbsp; &nbsp;
          <a (click)="deleteUser(user.id)" class="ml-auto">
            <fa-icon [icon]=fatrash [styles]="{'stroke': 'gray', 'color': 'red'}" size='1x'></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <ul class="list-group-flush">
        <li class="list-group-item shadow-lg mb-1 active">
          Models
        </li>
        <li class="list-group-item shadow-lg mb-1" *ngFor="let model of models">
          {{model.name}} &nbsp;
          <a>&nbsp;
            <fa-icon [icon]=fadetail [styles]="{'stroke': 'white', 'color': 'blue'}" size='1x'></fa-icon>
          </a> &nbsp;
          <a>&nbsp;
            <fa-icon [icon]=faedit [styles]="{'stroke': 'white', 'color': 'blue'}" size='1x'></fa-icon>
          </a> &nbsp;
          <a class="mr-auto" (click)="deleteModel()">
            <fa-icon [icon]=fatrash [styles]="{'stroke': 'gray', 'color': 'red'}" size='1x'></fa-icon>
          </a>
      </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-5">
      <ul class="list-group-flush">
        <li class="list-group-item shadow-lg mb-1 active">
          Batches
        </li>
        <li *ngFor="let batche of batches.sessions" class="list-group-item shadow-lg mb-1 d-flex justify-content-between align-items-center">
          {{batche.id}} {{ batche.name }} {{batche.state}}
          <span>
              <button class="btn btn-outline-primary">Show</button>
          <button class="btn btn-outline-danger">Delete</button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
